<!DOCTYPE html>
{% load static %}
{% load leaflet_tags %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="{% static 'leaflet.ajax.js' %}" charset="utf-8"></script>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <title>distance calc</title>
  </head>
  <body>
    <script type="text/javascript">

      function place_pos(map,options,title,url){
        var dataset = L.geoJson.ajax("{% url 'world:pano_imgs' %}",{
          onEachFeature: function(feature, layer) {
            var str = feature.properties.picture.replace("static/","media/static/")
            layer.bindPopup("<a-scene><a-sky src="+str+"></a-sky></a-scene>")
          }
        });
        dataset.addTo(map)
      }


    </script>
    <div id="main-image">

    </div>
    <h1>360 Image Map</h1>
    {% for pic in panos %}
    pano title: {{ pic.title }}
    {{pic.picture.url}}<br>
    {{pic.picture.url|json_script:"pic-url"}}
    {% endfor %}
    {% leaflet_map "gis" callback="window.place_pos" %}
  </body>
</html>
